body{
    background-color: #020617;
}

p, h1, h2, h3{
    color: white;
}

a{
    color: #9CA3AF;
    text-decoration: none;
}

.flexB{
    display: flex;
}

.link:hover{
    color: #EAB308;
}

.header_container{
    display: flex;
    justify-content: space-between;
    max-width: 948px;

    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.link{
    padding-left: 20px;
    font-family: 'Lexend Deca';
    transition: color 0.7s ease;
}

.main_up{
    padding-top: 0;
    background-color: #111827;
}

.main_up_container{
    display: flex;
    justify-content: space-between;
    max-width: 1095px;

    margin: 0px auto;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;

    align-items: center;
}

.container_left{
    max-width: 469px;
}

.main_photo{
    max-width: 427px;
    max-height: 427px;

    border-radius: 10px;
}

.yellow_text{
    font-family: 'Lexend Deca';
    font-size: 16px;
    color: #EAB308;
    padding-bottom: 24px;
}

.h1_text{
    font-size: 42px;
    font-family: 'Lexend Deca';
}

.p_text{
    color: #6B7280;
    font-family: 'Lexend Deca';
    font-size: 16px;
}

.main_down_container{
    max-width: 1095px;
    display: flex;
    justify-content: space-between;

    margin: 0px auto;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;

    padding-top: 5%;
    padding-bottom: 5%;
}

.about_me{
    margin-bottom: 5%;
}

.p_text_distance{
    margin-bottom: 3%;
}

.down_container_right{
    max-width: 509px;
}

.down_h1{
    font-size: 42px;
    font-family: 'Lexend Deca';
}

.yellow{
    color: #EAB308;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer_h2{
    font-family: 'Lexend Deca';
    margin-bottom: 10%;
    font-size: 30px;
}

.footer_container{
    max-width: 1095px;
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

.footer_logos{
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

.footer_logo{
    font-size: 25px;
    transition: color 0.7s ease;
}

.footer_logo:hover{
    color: #EAB308;
}



/* FAMILY PAGE */
.family_main{
    background-color: #111827;
}

.family_main_up_container{
    max-width: 1095px;

    margin: 0 auto;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;

    align-items: center;
}

.main_up_left_container{
    max-width: 461px;
}

.family_main_up_h2_div{
    display: flex;
}


.contact_up_container{
    max-width: 685px;
    text-align: center;
    margin: 0 auto;
    padding-top: 7%;
}

.contact_div{
    display: flex;
    justify-content: center;
}

.contact_down_container{
    max-width: 1110px;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    padding-top: 7%;
    padding-bottom: 7%;

    align-items: center;
}

.down_right{
    min-width: 540px;
}

.contact_yellow{
    color: #EAB308;
    font-family: 'Lexend Deca';
    font-size: 16px;
}

.contact_white{
    font-family: 'Lexend Deca';
    font-size: 16px;
}

.input{
    background-color: #1F2937;
    color: white;
    border: none;
    margin-bottom: 4%;
    border-radius: 2px;
}

.input::placeholder{
    color: #F3F4F6;
    font-family: 'Lexend Deca';
}

.input_padding{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 23%;
}

.textarea_padding{
    padding-top: 2%;
    padding-bottom: 15%;
    padding-left: 3%;
    padding-right: 60%;
}

.submit{
    background-color: #EAB308;
    min-width: 123px;
    border-radius: 2px;
}

.submit_p{
    color: black;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    font-family: 'Lexend Deca';
}